
/* LAYOUT */
/* ----------------------------------------- */

/* Basic Rules */
body {
    background-color: #afaa81;
    margin: 0;
    font: 87.5%/1.5 GillSans, Calibri, Trebuchet, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}
h1 {font-size:2em; line-height: 1.5; margin-bottom:0.75em;}
h2 {font-size:1.5em; line-height:1; margin-bottom:1em;}
h3 {font-size:1.2em; line-height:1.25; margin-bottom:1.25em;}
h4 {font-size:1em; line-height: 1.5; font-weight:bold; margin-bottom:1.5em;}
h5 {font-size:1em; line-height: 1.5; font-weight:bold; margin-bottom: 0;}

a {
    text-decoration: none;
    color: #09f;
}
a:hover {
    border-bottom: 1px dotted #09f;
}
pre {white-space: pre-wrap;}
div {position: relative;}
.colborder {
    border-color: #ddd;
}



/* Basic Layout */
#wrap {
    border: solid 1px #96926f;
    border-width: 0 3px;
    background: #fff;
}
.container {
    width: 950px;
}
#hd {
    margin-bottom: 1.5em;
    height: 252px;
    background: transparent url('../images/head.jpg') no-repeat scroll left top;
}
#bd, #ft {
    padding: 0 36px;
}
#bd, #ft {
    margin-bottom: 3em;
    padding-top: 1.5em;
}



/* Branding */
#branding p {
    display: none;
}
#branding h1 a {
    display: block;
    height: 189px;
    width: 950px;
    text-indent: -9999px;
}
#branding h1 a:hover {
    border: 0;
}



/* Navigation */
#access {
    position: absolute;
    left: 36px;
    top: 189px;
}
#access ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
#access li {
    float: left;
    font-size: 1.25em;
}
#access li a {
    color: #ccc;
    line-height: 63px;
    display: block;
    padding: 0 10px;
}
#access li:first-child a {
    margin-left: -10px;
}
#access li a:hover {
    color: #fff;
    background: #333;
    border-width: 0;
}
#access li.current_page_item a {
    color: #fff;
}



/* Sidebar */
.xoxo {
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget-container {
    margin-bottom: 1.5em;
}
.tagcloud a {
    font-size: 14px !important;
}



/* Search form */
#search-form label {
    display: none;
}
#search-form input.text {
    width: 200px;
    float: left;
}
#search-submit {
    background: transparent url('../images/button-28.png') no-repeat scroll left top;
    padding: 6px 0 8px;
    color: #fff;
    font-size: 14px;
    margin-top: 7px;
    float: right;
    width: 60px;
}



/* Footer */
#ft {
    background: #333;
    margin-bottom: 0;
    color: #ccc;
}
#ft .span-24 a {
    color: #6cf;
}
.project-thumb-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.project-thumb-list li {
    margin-bottom: 10px;
}
.project-thumb-list img {
    float: left;
}
#copyright {
    padding: 3em 0;
    margin-bottom: 0;
}
#ft .button {
    float: right;
    width: 100px;
}
#ft .span-24 > div {
    padding-bottom: 200px;
    margin-bottom: -200px;
}
#ft .span-24 {
    overflow: hidden;
}



/* Home */
body.home #bd {
    background: none;
    padding: 0;
    margin: 0;
}
body.home #banner, body.home #from-my-blog {
    margin-bottom: 3em;
    padding: 1.5em 36px 0;
}
#banner h1 {
    margin-top: .75em;
}
#banner img {
    float: left;
}
#banner .button {
    float: right;
}
#from-my-blog article h3 {
    margin-bottom: 0;
}
body.home hr {
    margin-left: 36px;
    margin-right: 36px;
    width: 878px;
}



/* Post pages */
.post-meta {
    color: #666;
}
body.search-results article h2, article.post h1, article.project h1 {
    margin-bottom: 0;
}
.post-nav {
    overflow: hidden;
}
.post-nav a[rel=prev] {
    float: left;
}
.post-nav a[rel=next] {
    float: right;
}


/* Comments */
#comments ol {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5em;
}
.comment > div {
    margin-bottom: 1.5em;
    padding: 1.5em 37px;
}
.comment.bypostauthor > div {
    background: #eee;
}
.comment-author {
    margin-bottom: 1.5em;
    overflow: hidden;
}
.comment-author img {
    float: left;
    margin-right: 10px;
    margin-bottom: -1px;
}
cite {
    font-size: 1.5em;
    line-height: 2em;
    font-style: normal;
}
span.says {
    display: none;
}
.children {
    list-style: none;
    padding-left: 37px;
}


/* Forms */
input, button {
    font: 87.5%/1.5 GillSans, Calibri, Trebuchet, sans-serif;
}


/* Comment form */
#commentform input {
    display: block;
}


/* Button */
.button, #submit {
    font-size: 1.5em;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 0 10px 0 19px;
    margin: 0 9px 19px 0;
    text-align: center;
}
a.button {
    background: transparent url('../images/button-left.png') repeat-x scroll left top;
    line-height: 44px;
}
a.button:after {
    content: url('../images/button-right.png');
    position: absolute;
    right: -10px;
}
a.button:hover {
    color: #ccc;
    border: 0;
}
input[type=submit] { 
    position: relative;
    border: 0; 
    padding: 0;
    cursor: pointer;
    overflow: visible; /* removes extra side padding in IE */
}

input[type=submit]::-moz-focus-inner {
    border: none;  /* overrides extra padding in Firefox */
}
input[type=submit].button, #submit {
    background: transparent url('../images/form-button.png') no-repeat scroll left top;
    padding: 9px;
    margin: 0 9px -2px 0;
    line-height: 26px;
    width: 139px;
}



/* Hire me form */
#wpcf7-f1-p10-o1 input.text {
    width: 235px;
}
#wpcf7-f1-p10-o1 textarea {
    height: 98px;
}
#wpcf7-f1-p10-o1 #url {
    width: 531px;
}
#website-type > span {
    margin-left: 0;
}
#website-type label {
    display: block;
    font-weight: normal;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5em;
}
#website-type input {
    margin: 5px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
}
#website-type label span {
    float: right;
    width: 525px;
}


/* Portfolio */
a[rel=lightbox]:hover {
    border-width: 0;
}
#project-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
#project-list li {
    margin-bottom: 1.5em;
}
#project-list img {
    float: left;
}



/* Lightbox hacks */
#lightbox a {border: none;}
#imageContainer {position: static;}




/* Single-project */
#visit-project {
   width: 98px;
}
.attachment-project-super {
    margin-bottom: 1.5em;
}



/* Stupid smiley from jetpack */
img#wpstats {
    width: 0px;
    height: 0px;
    overflow: hidden;
    float: left;
}



/* Vertical Ryythm Testing */
.container.showgrid {
    background: transparent url('blueprint/src/grid-878.png') repeat scroll 36px top !important;
}
.showgrid #bd, .showgrid #ft, .showgrid #banner, .showgrid #from-my-blog {
    background: none !important;
}


/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
.aligncenter { display:block; margin:0 auto }
.alignleft {
    float: left;
    margin: 0 10px 0 0;
}
.alignright { float:right }
.wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px }

/* You might find the following useful */
/* div, ul, li { position:relative } This will save you having to declare each div / ul / li's position as 'relative' and allows you to absolutely position elements inside them */
br.clear { clear:both; display:block; height:1px; margin:-1px 0 0 0 } /* Use this br class to clear your floated columns */
li#theme-switcher { background:#fff; border:10px solid red; padding:20px; position:fixed; top:0; right:0 } /* Use this if you have the Theme Switcher Reloaded plugin (http://themebot.com/webmaster-tools/1-wordpress-theme-switcher-reloaded) installed and want to make it nice and obvious */